body {
    font-family: "Marker Felt, fantasy";
    
}

.item {
    background-color: rgb(168, 165, 165);
    font-size: 40px; /* 40px/16=2.5em */
}

p.tittle {
    font-weight: bold;
    width:500px;
    margin: 0 auto;
}
